@model NewListingEditViewModel
@{
    ViewData["Title"] = "New listing";
    string rentalObjectId = Context.Request.Query["rentalObjectId"].ToString();
    string inAMonth = DateTime.Today.AddMonths(1).ToString("yyyy-MM-dd");
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <partial name="_InfoMessage">

    <p>
        @{
            if(!string.IsNullOrEmpty(rentalObjectId))
            {
                <h2>Put up object (@rentalObjectId) for listing</h2>

                <form asp-action="NewListing" method="post">
                    <input type="hidden" asp-for="RentalObjectID" value="@rentalObjectId" />
                    Last application date: <input value="@inAMonth" type="date" asp-for="LastApplicationDate" />
                    Move in date: <input value="@inAMonth" type="date" asp-for="MoveInDate" />
                    <input type="submit" value="Put up for listing"/>
                </form>                   
            }
            else
            {
                <p>No rental object provided.</p>
            }
        }
    </p>
</div>