@{
    ViewData["Title"] = "Listings";
}

<div class="text-center">
    <h1 class="display-4">Available listings</h1>   
</div>

<div class="listings">
    <div class="listings-item">
        <div class="listings-item-img">
            <img src="hmm.png">
        </div>
        <div class="listings-item-area">
            <h2>Area</h2>
        </div>
        <div class="listings-item-descr">
            <h5>6 rooms and kitchen</h5>
            <h6>5000 SEK/month</h6>
        </div>
        <div class="listings-item-btn">
            <p>Btn</p>
        </div>
    </div>

    <div class="listings-item">
        <div class="listings-item-img">
            <img src="hmm.png">
        </div>
        <div class="listings-item-area">
            <h2>Area</h2>
        </div>
        <div class="listings-item-descr">
            <h5>6 rooms and kitchen</h5>
            <h6>5000 SEK/month</h6>
        </div>
        <div class="listings-item-btn">
            <p>Btn</p>
        </div>
    </div>

    <div class="listings-item">
        <div class="listings-item-img">
            <img src="hmm.png">
        </div>
        <div class="listings-item-area">
            <h2>Area</h2>
        </div>
        <div class="listings-item-descr">
            <h5>6 rooms and kitchen</h5>
            <h6>5000 SEK/month</h6>
        </div>
        <div class="listings-item-btn">
            <p>Btn</p>
        </div>
    </div>

</div>

